doctype html
html
  head
    title Sample Website
    script(src="https://unpkg.com/react/umd/react.development.js")
    script(src="https://unpkg.com/react-dom/umd/react-dom.development.js")
    script(src="https://unpkg.com/react-scripts/umd/react-scripts.development.js")
    script(src="https://unpkg.com/babel-standalone/babel.min.js")
  body
    #root
      script(type="text/babel" src="/static/js/main.js")
